.follow {
    padding-top: 800px;
    padding-bottom: 216px;
    background-image: url("../img/follow-bg.png");
    background-repeat: no-repeat;
    background-position: center 570px;
    background-size: contain;

    &__info  {
        width: 550px;
        margin-left: 280px;
    }

    &__title {
        font-size: 48px;
        line-height: 20px;
        color: #fff;
        margin: 0;
        margin-bottom: 38px;
    }

    &__form {
        display: block;
    }

    &__input {
        width: 333px;
        border: 2px solid transparent;
        border-radius: 7px;
        outline: none;
        background-color: #fff;
        color: #949494;
        padding: 12px 22px;
        margin-right: 20px;
        &:focus {
            border-color: #ffbd54;
        }
        &:not(:placeholder-shown):invalid {
            border-color: #DC4D41;
            color:#DC4D41;
        }  
        &:not(:placeholder-shown):valid {
            color: #333;
        }      
    }

    &__btn {
        display: inline-block;
        border: none;
        background-color: #333;
        color: #fff;
        padding: 14px 50px;
        border-radius: 4px;
        cursor: pointer;
    }

}