.feedback {
    background-image: url("../img/background-fish.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 230px);
    background-color: #333;
    display: flex;
    margin-bottom: 247px;

    &__map {
        display: block;
        object-fit: contain;
    }

    &__box {
        width: 375px;
        margin-left: 120px;
        padding: 62px 0;
    }

    &__title {
        font-size: 48px;
        line-height: 62px;
        color: #FFFFFF;
        margin: 0;
        margin-bottom: 14px;
    }

    &__text {
        font-size: 16px;
        line-height: 20px;
        color: #949494;
        margin: 0;
        margin-bottom: 28px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__input {
        width: 100%;
        padding: 13px 22px;
        margin-bottom: 14px;
        outline: none;
    }

    &__area {
        width: 100%;
        height: 165px;
        padding: 13px 22px;
        margin-bottom: 30px;
        outline: none;
    }

    &__btn {
        display: inline-block;
        padding: 14px 50px;
        background-color: #FFBD54;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
    }

    



}