.services {
    margin-top: 85px;

    &__container {
        position: relative;
    }

    &__wrapper {
        padding: 0 44px;
    }

    &__title {
        font-size: 48px;
        line-height: 54px;
        margin: 0;
        text-align: center;
        margin-bottom: 80px;
        color: #333;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    &__item {
        margin-left: 12.8px;

        &:hover {
            opacity: .8;
        }

        &:active {
            opacity: .6;
        }

        &:last-child:hover{
            opacity:inherit;
        }
    }


    &__link {
        padding: 32px;
        background-color: #fff;
        display: inline-block;
        width: 190px;
        height: 201px;
        text-align: center;
        border-radius: 5px 5px 0px 0px;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #333;

        &::before {
            content: "";
            width: 77px;
            height: 78px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: top center;
        }
    }

    &__card-detail {
        position: absolute;
        top: calc(100% + 14px); 
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 0px 5px 5px 5px;
        padding: 42px 35px;

        &-img {
            border-radius: 5px;
        }
    }

    &__details {
        width: 500px;
        margin: 0 auto;
    
        &-title {
            font-weight: 500;
            font-size: 36px;
            line-height: 20px;
            margin: 0;
            margin-bottom: 22px;
        }

        &-text {
            font-size: 16px;
            line-height: 20px;
            color: #949494;
            margin: 0;
            margin-bottom: 9px;
        }

        &-text-last {
            margin-bottom: 35px;
        }

        &-links {
            display: flex;
        }

        &-link {
            text-decoration: none;
            vertical-align: baseline;
            padding: 13px 36px;
            color: #fff;
            border-radius: 3px;
            display: flex;
            align-items: center;

            &::before {
                content: "";
                width: 21px;
                height: 21px;
                display: inline-block;
                background-size: 21px 21px;
                background-position: center center;
                background-repeat: no-repeat;
                margin-right: 7px;
            }
        }

    }




    &__btn {
        border: none;
        background-color: transparent;
        position: absolute; 
        top: 230px;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: 14px 26px;
        background-position: center center;
        border-radius: 5px;

        &:hover {
            background-color: #fff;
            cursor: pointer;
        }
        &:active {
            opacity: .7;
        }
    }

    &__btn-prev {
        left: 0;
        background-image: url("../img/arrow-left.svg");
    }

    &__btn-next {
        right: 0;
        background-image: url("../img/arrow-right.svg");
    }
    
    


}

.first-link {
    margin-right: 21px;
    background-color: #FFBD54;

    &:hover {
        background-color: #333;
        color: #FFBD54;
    }
    &:active {
        opacity: 0.6;
    }
    &::before {
        background-image: url("../img/money.svg");
    }
}

.right-side-link {
    background-color: #333;
    &::before {
        background-image: url("../img/document.svg");
    }
}

.doctor-girl::before {
    background-image: url("../img/doctor-girl.png");
}

.dog-girl::before {
    background-image: url("../img/dog-girl.png");
}

.hirurg::before {
    background-image: url("../img/small-dog.png");
}

.dermotolog::before {
    background-image: url("../img/big-dog.png");
}

.lab::before {
    background-image: url("../img/veterinary.png");
}

.oftamotolog::before {
    background-image: url("../img/dogs.png");
}