.location {
    margin-top: 130px;
    background-image: url("../img/pets-Group\ .png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 934px 329px;

    &__title {
        width: 348px;
        font-family: "Futura PT";
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 62px;
        color: #333333;
        margin: 0;
        padding-top: 130px;
        margin: 0 auto;
        margin-bottom: 60px;

        &::before {
            content: "";
            display: block;
            margin: 0 auto 31px auto;
            width: 105px;
            height: 105px;
            background-image: url("../img/Object.png");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
        padding-bottom: 200px;
    }

}

.kissing-pet {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        width: 443px;
        height: 342px;
        position: absolute;
        top: -67%;
        left: 30px;
        z-index: 10;
        background-image: url("../img/kisspng-pug-puppy.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
}